.*
node_modules
npm-debug.log
Dockerfile
src/.vitepress/dist
src/.vitepress/cache
README.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
!src/.vitepress/config.ts
# for last updated time in the footer
!.git/
