.*
node_modules
npm-debug.log
Dockerfile
src/.vitepress/dist
src/.vitepress/cache
LICENSE
README.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
!.nvmrc
!src/.vitepress/config.ts
